{% extends "AppOliveto/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<div>
    <p class="justify-content-center">
        <br>
        <br>
        <h1 style="color:black" > 
        Hola! Soy Romina Caputo ♥
        </h1>
        <br>
        <br>

        <h4 style="color: black" alig="justify">
            <p>Soy Romina Caputo, técnica de laboratorio y estudiante de Python, oriunda de Argentina</p>
            <p>Oliveto Encuadernación arranco en el 2018, cuando realiza un curso de agendas cosidas y me gustó tanto que dije: ¿Porqué no empezar a vender?.</p>
            <p>Creé el siguiente proyecto relacionado a mi pasión: realizar cuadernos, agendas y lo que me pidas personalizado. </p>
            <p>Todo lo que realizo lo hago con mucha dedicación y muchas ganas.</p>
            
        </h4>
        <br>
        <br>        
    </p>
</div>

{% endblock %} 