{% extends "AppOliveto/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<div>
    <p class="justify-content-center">
    <h3 style="color:black">
        <u>Ingreso de productos al sistema </u>
     </h3>
    </p>
</div> 

                <div class="card">
                    <div class="card-header text-center">
                        
                    </div>
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                        <table>
                        
                            {{ form.as_p }}
                        </table>
                        
                            <input type="submit" class="btn btn-primary" value="Agregar Producto">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}


